.hero img {
  max-width: 15%; /* Уменьшите значение до желаемого размера */
  height: auto;
}
.hero h2, .hero p {
  color: #ffffff; /* Установите контрастный цвет текста */
  text-shadow: 2px 2px 4px #000000; /* Добавьте тень к тексту */
}
